<!doctype html>
<html>
<head>
    <title>Isomorphic App</title>
</head>
<body>
<h1 id="main-title">Isomorphic App</h1>

<div id="react-main-mount">
    <%- reactOutput %>
</div>

<!-- comment out main.js to see server side only rendering -->
<script src="/main.js"></script>

</body>
</html>
